div{
    height: 150px;
    width: 100%;
    background-color: black;
}
h2{
    text-transform: lowercase;
}
table{
    text-align: center;
}
.my{
    background-color: purple !important;
}